{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static '/hello/Dashboard.css' %}">
        <title>Dashboard</title>
        <div class="title">
            <h1>Uber Data 2014-2015</h1>
        </div>
    </head>
    <body>
        <h1>Welcome!</h1>
        
        <h2 class="head">Total Numbers</h2>
        <table class="total" border = "1" cellpadding = "7" cellspacing = "6">
        <tr>
            <th>Duration (min)</th>
            <th>Trip Distance</th>
            <th>Trip Mph Avg</th>
            <th>Est Revenue</th>
        </tr>
            <tr>
                <td>{{ stats.duration_min.count  }}</td>
                <td>{{ stats.trip_distance.count  }}</td>
                <td>{{ stats.trip_mph_avg.count  }}</td>
                <td>$ {{ stats.est_revenue.count  }}</td>
            </tr>
        </table>
        
    <h2>Below is an example of the tool retriveing data from a Uber dataset. </h2>
        <div class="table">
            <table border = "1" cellpadding = "7" cellspacing = "6">
                <tr>
                    <th>ID</th>
                    <th>Pick-Up</th>
                    <th>Destination</th>
                    <th>Pickup Date / Time</th>
                    <th>Trip Distance</th>
                    <th>Trip Duration</th>
                </tr>
                {% for i in data %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.origin_taz }}</td>
                    <td>{{ i.destination_taz }}</td>
                    <td>{{ i.pickup_datetime }}</td>
                    <td>{{ i.trip_distance }}</td>
                    <td>{{ i.trip_duration }}</td>

                    
                </tr>
                {% endfor %}
            </table>

            <div class="table">
            <table border = "1" cellpadding = "7" cellspacing = "6">
                <tr>
                    <th>ID</th>
                    <th>Pick-Up</th>
                    <th>Destination</th>
                    <th>Trip Distance</th>
                    <th>Trip Duration</th>
                    <th>PU Date</th>
                    <th>Year</th>
                    <th>Month</th>
                    <th>Day</th>
                    <th>Hour</th>
                </tr>
                {% for i in data2 %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.origin_taz }}</td>
                    <td>{{ i.destination_taz }}</td>
                    <td>{{ i.trip_distance }}</td>
                    <td>{{ i.trip_duration }}</td>
                    <td>{{ i.pu_date_hour }}</td>
                    <td>{{ i.year }}</td>
                    <td>{{ i.month }}</td>
                    <td>{{ i.day }}</td>
                    <td>{{ i.hour }}</td>
                </tr>
                {% endfor %}
            </table>
            <div class="graph">  
                <img src="{% static '/images/1.png' %}" alt="logo" width="900" height="500"/>
            </div>
           <div class="graph"> 
                <img src="{% static '/images/2.png' %}" alt="logo" width="900" height="700"/>
            </div>
            <div class="graph">
                <img src="{% static '/images/3.png' %}" alt="logo" width="800" height="500"/>
            </div>
             <divclass="graph"> 
                <img  src="{% static '/images/4.png' %}" alt="logo" width="900" height="600"/>
            </div>
             <div>
                <img class="graph" src="{% static '/images/5.png' %}" alt="logo" width="800" height="500"/>
            </div>
            
        </div>
</html>