body {
    background-color: powderblue;
}

.title h1 {
  background-color: #313131;
  text-align: center;
  border: 2px solid whitesmoke;
  color:white;
}
h2.head {
  margin: 0 auto;
}
table.total {
  margin: 0 auto;
}
img.graph {
  margin: 0 auto;
}